@model ProductListing.Web.Client.Models.CategoryViewModels.CategoryCEViewModel 

@using (Html.BeginForm()) {
<div class="container"></div>
    <div class="form">
        @Html.HiddenFor(m => m.Id )
        <div class="row">

            <div class="col-md-4">
            @Html.LabelFor( m => m.Name, new {@class="form-label"})
            @Html.TextBoxFor( m => m.Name, new {@class="form-control"})
                <button class="btn btn-md btn-primary mt-2">Kategori Ekle</button>

            </div>

        </div>

    </div>
}