@model ProductListing.Data.Domain.Category

<p>Aşağıda bilgileri bulunan kaydı silmek istediğine emin misin?</p>

<p>Adı: @Model.Name</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(p => p.Id)
    <button> Evet eminim</button>
    <a href="/Category/Index">Vazgeç</a>
}
