@model ProductListing.Data.Domain.Product

<div class="container">

<p>Aşağıda bilgileri bulunan kaydı silmek istediğine emin misin?</p>

<p>Adı: @Model.Name</p>
<p>Kategori Adı: @Model.Category.Name</p>


@using (Html.BeginForm())
{
    @Html.HiddenFor(p => p.Id)
    <button class="btn btn-primary mt-2"> Evet eminim</button>
    <a class="btn btn-danger mt-2" asp-action="index" asp-controller="product"> Vazgeç</a>
}

</div>